html,
body {
    padding: 0;
    margin: 0;
}

.slide {
    border-radius: 25px;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    /* width: 600px; */
    /* width: 50vw; */
    max-height: 500px;
    margin: 200px auto 0;
}

.slider-area {
    position: relative;
    width: 800px;

    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    /*transition: 1000ms;*/
}

.arrow-1,
.arrow-2 {
    /* position: absolute; */
    cursor: pointer;
    z-index: 1;
}

.arrow-1 {
    transform: rotate(90deg);
}

.arrow-2 {
    transform: rotate(-90deg);
    /* right: 0; */
}

.slide-left {
    left: 0;
    position: absolute;
    transform: perspective(320px) rotateY(15deg) scale(0.85);
    width: 430px;
    /*transition: 1000ms;*/

}

.slider-left-animation {
    animation-duration: 1s;
    animation-name: slide-left;
    animation-fill-mode: forwards;

}

@keyframes slide-left {
    0% {
        position: absolute;
        transform: scale(0.95);
        width: 530px;
        z-index: 10;
        left: 50%;
        transform: translateX(-50%);
    }

    100% {
        /* left: 0; */
        position: absolute;
        transform: perspective(320px) rotateY(15deg) scale(0.85);
        width: 430px;
    }
  }

.slider-left-animation-prev {
    animation-duration: 1s;
    animation-name: slide-left-prev;
    animation-fill-mode: forwards;

}

@keyframes slide-left-prev {
    0% {
        position: absolute;
        opacity: 0;
        left: 100px;
        /*transition: 1000ms;*/
    }

    100% {
        /* left: 0; */
        position: absolute;
        transform: perspective(320px) rotateY(15deg) scale(0.85);
        width: 430px;
    }
  }

.active {
    position: absolute;
    transform: scale(0.95);
    z-index: 10;
    right: 50%;
    transform: translateX(50%);
    /*transition: 1000ms;*/
}


.slider-active-animation {
    animation-duration: 1s;
    animation-name: slide-active;
    animation-fill-mode: forwards;
}

@keyframes slide-active {
    0% {
        position: absolute;
        right: 0;
        transform: perspective(320px) rotateY(-15deg) scale(0.85);
        width: 430px;
        z-index: -1;
    }

    100% {
        position: absolute;
        transform: scale(0.95);
        z-index: 10;
        right: 50%;
        transform: translateX(50%);
        /*transition: 1000ms;*/
    }
  }

.slider-active-animation-prev {
    animation-duration: 1s;
    animation-name: slide-active-prev;
    animation-fill-mode: forwards;
}

@keyframes slide-active-prev {
    0% {
        position: absolute;
        left: 0;
        transform: perspective(320px) rotateY(15deg) scale(0.85);
        width: 430px;
        z-index: -1;
    }

    100% {
        position: absolute;
        transform: scale(0.95);
        z-index: 10;
        left: 50%;
        transform: translateX(-50%);
        /*transition: 1000ms;*/
    }
  }

.slide-right {
    position: absolute;
    right: 0;
    transform: perspective(320px) rotateY(-15deg) scale(0.85);
    width: 430px;
    z-index: -1;
    /*transition: 1000ms;*/
}

.slider-right-animation {
    animation-duration: 1s;
    animation-name: slide-right;
    animation-fill-mode: forwards;
}

@keyframes slide-right {
    0% {
        position: absolute;
        opacity: 0;
        right: 100px;
        /*transition: 1000ms;*/
    }

    100% {
        position: absolute;
        right: 0;
        transform: perspective(320px) rotateY(-15deg) scale(0.85);
        width: 430px;
        z-index: -1;
    }
  }

.slider-right-animation-prev {
    animation-duration: 1s;
    animation-name: slide-right-prev;
    animation-fill-mode: forwards;
}

@keyframes slide-right-prev {
    0% {
        position: absolute;
        width: 530px;
        transform: scale(0.95);
        z-index: 10;
        right: 50%;
        transform: translateX(50%);
    }

    100% {
        position: absolute;
        right: 0;
        transform: perspective(320px) rotateY(-15deg) scale(0.85);
        width: 430px;
        z-index: -1;
    }
  }

.slide-under {
    position: absolute;
    opacity: 0;
    height: 0; 
    left: 50%;
    transform: translateX(-50%);
    /*transition: 1000ms;*/
}

.slider-under-animation {
    animation-duration: 1s;
    animation-name: slide-under;
    animation-fill-mode: forwards;
}

@keyframes slide-under {
    0% {
        left: 0;
        position: absolute;
        transform: perspective(320px) rotateY(15deg) scale(0.85);
        width: 430px;
        /*transition: 1000ms;*/
    }
    100% {
        position: absolute;
        opacity: 0;
        left: 50%;
        transform: translateX(-50%);
        /*transition: 1000ms;*/
    }
  }

.slider-under-animation-prev {
    animation-duration: 1s;
    animation-name: slide-under-prev;
    animation-fill-mode: forwards;
}

@keyframes slide-under-prev {
    0% {
        position: absolute;
        right: 0;
        transform: perspective(320px) rotateY(-15deg) scale(0.85);
        width: 430px;
        z-index: -1;
    }
    100% {
        position: absolute;
        opacity: 0;
        right: 50%;
        z-index: -2;
        transform: translateX(50%);
    }
  }

.dissapear { position: absolute;
    transform: perspective(520px) rotateY(-25deg) translateX(430px);
    opacity: 0;
    width: 0;
    height: 0;
}
